html {
  min-height: 100%;
 }

 body {
  margin-left: auto;
  margin-right: auto;   
  padding: 0;
  /*max-width: 1500px;*/
  background: -webkit-radial-gradient(#676980, #535872, #1F3353);
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
 }

 .row {
  margin-right: 0;
 }

 hr{
  max-width: 80%;
  border: 0;
    border-top: 1px solid rgba(255, 255, 255, .1);
 }

 /*NAVIGATION STYLES*/

a.nav-link{
  color: #FFFFFF !important;
  font-size: 20px;

}

a.nav-link:hover{
  color: rgb(250, 105, 85) !important;
}



 .navbar-default {

  
  background-color:rgba(0, 0, 0, .7);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: rgba(0, 0, 0, .5);
  margin-bottom: 0;
  text-align: left;
  

 }


.dropdown-menu > li:hover > a {
  background-color: #000000 !important;


}
   ul li ul.dropdown-menu{
        background-color: #000000 !important;
        
        z-index: 999;
        text-align: left;
    }

  ul li:hover ul.dropdown-menu{

        display: block; /* Display the dropdown */
        position: absolute;
    }

.logo {
   max-width: 20%;
}