body {
    background-color: #000000;
}
html {
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
}

p {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

h1 {
    visibility: hidden;
}
h2{
    color:#FFFFFF;
}
h3{
    color:#FFFFFF;
}
i {
    font-weight:italic;
    color:#FFFFFF;
}
}
h4{
  padding: 5px 40px 5px 40px;
}

h5{
  padding: 5px 40px 5px 40px;
}
h4 {
    visibility: hidden;
}
h5 {
    visibility: hidden;
}


p.thick {
    font-weight: bold;
    color:#FFFFFF;
}
i{color:#C0C0C0;

}
.box {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
ul{
    font:sans-serif;
}
#LFC{
background-image:url('Liverpool-Logo-Wallpaper-Download-1024x576.jpg');
width:1134px;
height:228px;
}
#Code{
background-image:url('Liverpool-Logo-Wallpaper-Download-1024x576.jpg');
width:1134px;
height:228px;
}