html {
  min-height: 100%;
 }
 body {
  margin-left: auto;
  margin-right: auto;   
  padding: 0;
  background: -webkit-radial-gradient(#FFFFFF,#FFFFFF,#fffccc);
  color: #000000;
  font-family: 'EB Garamond', serif;
 }

 .row {
  margin-right: 0;
 }

 hr{
  max-width: 80%;
  border: 0;
    border-top: 1px solid rgba(255, 255, 255, .1);
 }

 /*NAVIGATION STYLES*/
#navlogo {
  width: 200px;
  margin-top: -2px;
}
a.nav-link{
  color: #000000;
  font-size: 25px;

}
.navbar-default {
  background-color:(0, 0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: rgba(0, 0, 0, .5);
  margin-bottom: 0;
  text-align: left;


 } 
 a.nav-link{
  color: #808080 !important;
  font-size: 23px;

}

a.nav-link:hover{
  color: rgb(0, 172, 237) !important;
}

.dropdown-menu > li:hover > a {
  background-color: #808080 !important;


}
ul li ul.dropdown-menu{
  background-color: #FFFFFF !important;
  z-index: 999;
  text-align: left;
}

ul li:hover ul.dropdown-menu{
  display: block; /* Display the dropdown */
  position: absolute;
}

.logo {
   max-width: 10%;

}
.jumbotron {
    position:static;
    /*background: #000 url(../img/image1.png)center center;*/
    background: #000000 url(../img/image1.png) no-repeat fixed center; 
    width: 100%;
    height: 100%;
    background-size:cover ;
    overflow:hidden;
    color: white;

}

 #banner {
position: static;
top: 0px;
left: 0px;
right: 0px;
width: 100%;
height: 170px;
z-index: -1;

} 

/*blog*/
.blog-headline {
  margin-bottom: 20px;
}
.blog-title {
  margin-top: -10px;
  margin-bottom: 30px;
  margin-left: 10px;
  padding: 5px 10px;
  display: inline-block;
  font-size: 27px;
  
}

#results-box{
  text-align: center;
}
.blog-div{
  text-align: center;
}

.blogPosts {
  text-align: left;
  display: inline-block;
  font-size: 18px;
  font-weight: 100;
  line-height: 27px;
  max-width: 600px;
}
.blog-feat-bg {
  min-height: 65vh;
  padding: 20px 40px 40px 40px;
  
  
 }

 .blog-hr {
    max-width: 100%;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, .2);
}

 .blog-link{
  color: #FFFFFF;
  
  font-size: 18px;
  padding: 2px 7px; 
  border-bottom: 1px solid rgb(226, 75, 104);
}

 .blog-link:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgb(0, 172, 237);

 }
.port-front-img{
  
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 0 0;
 }
 .proj-link{
  display: inline-block;
  color: #FFFFFF;
  margin-bottom: 7px;
 }

 .proj-link:hover {
  color: #FFFFFF;
  border-radius: 10px;
  text-decoration: underline;
 }

 .proj-description{
  position: absolute;
  text-align: center;
  z-index: 99;
 }

 .proj-d-head {
  max-width: 90%;
  margin-top: 10px;
  padding: 5px 15px;
  text-transform: uppercase;
  display: inline-block;
  /*background-color: rgba(120, 143, 181, .6);
  border: 1px solid rgba(120, 143, 181, .9);
  border-radius: 10px 0px; */
 }

 .sitemap-list{
  display: inline-block;
  font-size: 1.2em;
  list-style: none;
  margin-left: 0;
  padding-left: 0 !important;
  
 }

 .home-img {
  border-radius: 10px;
  max-width: 80%;
  margin-bottom: 20px;
 }

 #pagination-controls {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
 }

 .foot {
  margin-top: 0px;
 }

 .foot-map {
  max-width: 80%;
  text-align: center;
  /*padding: 0px 0px 0px 5px;*/
 }

.footer {
  
  padding: 10px 0 0 0;
  background-color:rgba(0, 0, 0, .6);
  text-align: center;
  color: rgba(141, 141, 144, .7);
 
}
.fa {
  font-size: 40px;
  margin: 0 5px 10px 5px;
  
}

.fa:hover {
  color: rgb(0, 172, 237);
}

.social-box {
  border-left: 1px solid rgb(50, 50, 58);
  border-right: 1px solid rgb(50, 50, 58);
  color:#ffffff;
}
.social {
  color: rgba(141, 141, 144, .7);
    color:#ffffff;

}
.sitemap {
  font-size: 14px;
  color: rgba(141, 141, 144, .7);
 color:#ffffff;
  
}

.sitemap:hover {
  color: rgb(0, 172, 237);
  text-decoration: none;

}
.col-sm-4{
 color:#ffffff;

}
.blog-search {
  margin-left: 20px;
}

input {
  border-radius: 10px;
  border-style: none;
}

.search-box  {
  font-size: 18px;
  padding-left: 10px;
  text-align: center;
  background-color: rgba(141, 141, 144, .7);
  border: 1px solid rgba(226, 75, 104, .8);
}

textarea:focus, input:focus{
    outline: 0;
    background-color: rgba(226, 75, 104, .5);
    border: 1px solid rgba(226, 75, 104, 1);
}


::-webkit-input-placeholder {
   color: rgba(255, 255, 255, .5);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, .5);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, .5);  
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, .5); 
}

.search-submit {
  margin-left: 10px;
  padding: 0 15px;
  background-color: rgba(226, 75, 104, .4);
  border: 1px solid rgba(226, 75, 104, .8);
}

.page-control {
  font-size: 18px;
  padding: 0 10px;
  background-color: rgba(141, 141, 144, .7);
  border: 1px solid rgba(141, 141, 144, .7);
  border-radius: 10px;
}

.page-control:hover, .search-submit:hover {
  background-color: rgba(226, 75, 104, 1);
}

.pages {
  font-size: 24px;
  color: rgba(255, 255, 255, .8);
}

.disbtn {
  background-color: transparent;
  border: 1px solid rgba(120, 143, 181, .8);
  color: rgba(255, 255, 255, .4);
}
.sitemap-link {
  text-align: left;
  color: #000000;
  

}
.sitemap-link:hover {
  text-decoration: none;
  color: rgb(0, 172, 237);
}
 
.col-sm-6{
display: inline-block;
}
p {
    font-size: 26px;
}
.headline-name{
  color:#fff;
  text-shadow: 2px 2px 3px #000;  
}
.bio-story{
  color:#fff;
  text-shadow: 2px 2px 3px #000;
}
.bio-story1{
  color: rgb(0, 172, 237);
}
.hikeLink{
  float: right;

}

.mylogo{
	width: 200px;
}