body {
    background-color: #000000;
}
html {
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
}

p {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

h1 {
    visibility: hidden;
}
h2{
    color:#FFFFFF;
}
h3{
    color:#FFFFFF;
}
i {
    font-weight:italic;
    color:#FFFFFF;
}
}
h4{
  padding: 5px 40px 5px 40px;
}

h5{
  padding: 5px 40px 5px 40px;
}
h4 {
    visibility: hidden;
}
h5 {
    visibility: hidden;
}


p.thick {
    font-weight: bold;
    color:#FFFFFF;
}
i{color:#C0C0C0;

}
.box {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
ul{
    font:sans-serif;
}
#daughter {
    width: 1134px;
    height: 456px;
    background: url(IMG_0068.JPG) 0 0;
}
#code {
    width: 1134px;
    height: 456px;
    background: url(maxresdefault.jpg) 0 0;
}
#lfc {
    width: 1134px;
    height: 456px;
    background: url(Liverpool-Logo-Wallpaper-Download-1024x576.jpg) 0 0;
}
#family {
    width: 256px;
    height: 342px;
    background: url(IMG_7954.jpg) 0 0;
}
